/*Define the global*/
:root{
    --primaryColor:#213555;
    --backgroundColor:#F5EFE7;
    --primaryaccentcolor:#4F709C;
    --secondaryColor:#D8C4B6;
    --whiteColor:white;
    --blackColor:#222222;
    --primaryFont:'Open Sans', sans-serif;
    --cursiveFont:'pacifico',cursive;
    --navbarHeight:3rem;
}


/*Main CSS*/
body{
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
    font-family: var(--primaryFont);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
a{
    text-decoration: none;
    color: var(--primaryColor);
} 
a:hover{
    color: var(--primaryaccentcolor);
}
.navigation{
    background-color: var(--whiteColor);
    height:var(--navbarHeight) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    display: flex;
    height:2rem ; 
    padding-left:  20px;
    width: 12rem;
    align-items: center;
}
.logoImage{
    height: 2rem;
    float: left;
}
.contactImage{
    height:2rem ;
    padding: 8px 20px;
    margin-right: 20px;
}
.menuItem{
    flex-grow: 2;
}
.menuItem{
    margin-left: 40px;
}
/*banner image*/
.banner{
    display: flex;
    height:450px;
    background: linear-gradient(45deg,
    var(--secondaryColor),
    var(--primaryaccentcolor)
    ); /* backgroud-color: var(--secondaryColor)*/
    filter: drop-shadow(0px 5px 10px grey);
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.bannerLeft{
    width: 50%;
}

.bannerImage{
    height:100px;
    border-radius: 50%;
}

.greeting{
    font-family: var(--cursiveFont);
    font-size: 1.25rem;
   /* background: linear-gradient(45deg,var(--secondaryColor),var(--primaryColor));*/
}
.title{
    font-size: 2.5rem;
    color: white;
}
.titleSpan{
    display: inline-block;
    background-color: var(--primaryColor);
    padding: 0.5rem;
    margin:5px 0px;
}
.description{
    margin: 30px 0px;
    line-height: 2rem;
}
.ShowCVButton{
    background-color: linear-gradient(white,rgb(205,205,205),rgb(215,215,215));
    padding: 10px 15px;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 3px var(--backgroundColor));
}
.ShowCVButton:hover{
    background-color:linear-gradient(white,rgb(215,215,215));
}

/* Services Section*/
.Services{
    margin: 5rem ;
    padding: 30px;
}
.servicetext{
    text-align: center;
    text-transform: uppercase;
}
.textSubHeading{
     color: var(--primaryaccentcolor);
     letter-spacing: 0.6rem;
     font-size: 1.25rem;
}

.textHeading{
    font-size: 2.5rem;
    font-weight: bold;
}
.serviceCards{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

.serviceCard{
    background-color: white;
    border: 2px solid grey;
    border-radius: 2px;
    filter: drop-shadow(1px 1px 2px #aaaaaa);
    /* margin: 15px;*/
    padding:40px;
}
.serviceCard:hover{
    background-color: white;
    filter: drop-shadow(3px 3px 8px grey);
}
.serviceicon{
    background-color: var(--primaryColor);
    padding: 20px;
    color: white;
    display: inline-block;
    
}
.serviceTitle{
    font-size: 1.8rem;
    margin: 20px 0px;
}
.serviceFeature{
     font-size: 1rem;
     margin: 10px 0px;
}
.serviceFeatureIcon{
    font-size: 0.75rem;
}